<div class="row g-4 align-items-center">
  <div class="col-auto">
    <label for="select-difficulty" class="col-form-label">Difficulty:</label>
  </div>
  <div class="col-auto">
    <select class="form-select" id="select-difficulty">
      <option selected>Not selected</option>
      <option value="0">One</option>
      <option value="1">Two</option>
      <option value="2">Three</option>
      <option value="3">Four</option>
    </select>
  </div>
  <div class="col-auto">
    <label for="select-topic" class="col-form-label">Topic:</label>
  </div>
  <div class="col-auto">
    <select class="form-select" id="select-topic">
      <option selected>Not selected</option>
      <option value="number">Number</option>
      <option value="string">String</option>
      <option value="array">Array</option>
    </select>
  </div>
</div>