---
layout: 'page.njk'
title: 'Exercises'
---
<style> 
  .exercise-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .exercise-filters {
    display: flex;
    gap: 16px;
  }
</style>

<div class="exercise-wrapper">
  {% include 'exerciseFilters.njk' %}
  {% for exercise in exercises %}
    <div class="card" id="exercise-card" difficulty="{{exercise.difficulty}}" topic="{{exercise.topic}}">
      <div class="card-header">
        Difficulty: {{ exercise.difficulty }} Topic: {{ exercise.topic }}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ exercise.name }}</h5>
        <p class="card-text">{{ exercise.content }}</p>
        <a href="{{ exercise.id }}" class="btn btn-primary">To exercise</a>
      </div>
    </div>
  {% endfor %}
  <div class="exercises-empty text-center" id="exercises-empty-message" hidden><h3> Not found </h3></div>
</div>

<script src=" {{ '/Exercises/exercises.script.js' | getPath }} "></script>

