<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ actions.getTitle(title, data.mainTitle) }}</title>
        <link rel="stylesheet" href="{{ '/bootstrap/bootstrap.min.css' | getPath }}" />
        <link rel="stylesheet" href="{{ '/css/index.css' | getPath }}" />
        <script src="{{ '/bootstrap/bootstrap.min.js' | getPath }}"></script>
        <style>
            .main-container {
                padding-top: 12px;
            }
        </style>
    </head>
    <body>
        {% include 'navbar.njk' %}
        <div class="container-lg main-container">{{ content | safe}}</div>
    </body>
</html>
